p
{
font-family: andalus;
font-style: italic;

}

a
{
text-align: center;
font-family: Verdana;
font-weight: bold;
font-style: italic;
font-size: 100%;
}

h1
{
font-weight: bold;
font-style: italic;
font-size: 300%;
}
h3
{
font-size: 220%;
}
h2
{
font-size: 300%;
font-style: italic;


}

